image:
- Visual Studio 2017
- Ubuntu

environment:
  MINGW_DIR: C:\mingw-w64\x86_64-7.2.0-posix-seh-rt_v5-rev1\mingw64\bin

clone_depth: 3

before_build:
- cmd: set PATH=%MINGW_DIR%;%PATH%
# fix CMake sh.exe issue, by removing Git path.
- cmd: set PATH=%PATH:C:\Program Files\Git\usr\bin;=%
- cmd: set FC=%MINGW_DIR%\gfortran 

- sh: sudo apt -yq update > /dev/null
- sh: sudo apt install -yq --no-install-suggests --no-install-recommends gfortran cmake make > /dev/null

- cd bin

build_script:
- cmd: cmake -G "MinGW Makefiles" ../src
- cmd: mingw32-make

- sh: cmake ../src
- sh: make
  
after_build:
- cd ..

- sh: ./nan
- sh: ./split
- sh: ./hugeprec
- sh: ./coarray/coarray_hello
- sh: ./testall

- cmd: nan
- cmd: split
- cmd: hugeprec
- cmd: coarray/coarray_hello
- cmd: testall
