CMakeUserPresets.json

.vscode/
*.dwf
*.pdb
/subprojects/*
!/subprojects/*.wrap
.mypy_cache/
build*/
*.s
kind.txt
cmake_install.cmake

CMakeFiles/
Makefile
CMakeCache.txt
*.pyd
bin/
__pycache__/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
