name: cmake

env:
  CTEST_NO_TESTS_ACTION: error
  HOMEBREW_NO_INSTALL_CLEANUP: 1
  CTEST_PARALLEL_LEVEL: 0

on:
  push:
    paths:
      - "**.f90"
      - "**.F90"
      - "**.cmake"
      - "**/CMakeLists.txt"
      - ".github/workflows/cmake.yml"


jobs:


  gcc-new:
    strategy:
      matrix:
        os: [ubuntu-24.04]
        fc: [12, 13, 14]
        include:
        - os: macos-latest
          fc: 15

    runs-on: ${{ matrix.os }}

    env:
      FC: gfortran-${{ matrix.fc }}

    steps:
    - &checkout
      uses: actions/checkout@v6

    - run: cmake --workflow debug
    - run: cmake --workflow release


  gcc-old:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        gcc-version: [9, 10, 11]

    runs-on: ${{ matrix.os }}

    env:
      FC: gfortran-${{ matrix.gcc-version }}

    steps:
    - *checkout

    - name: GCC APT
      if: matrix.gcc-version < 11
      run: |
        sudo apt update -y
        sudo apt install -y --no-install-recommends gfortran-${{ matrix.gcc-version }}


    - run: cmake --workflow debug
    - run: cmake --workflow release


  linux-flang:
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    strategy:
      matrix:
        clang-version: [18]

    env:
      CC: clang-${{ matrix.clang-version }}
      CXX: clang++-${{ matrix.clang-version }}
      FC: flang-new

    steps:
    - name: install Flang
      run: sudo apt install --no-install-recommends flang

    - *checkout

    - &default
      run: cmake --workflow default


  windows:
    runs-on: windows-latest
    timeout-minutes: 10

    env:
      CMAKE_GENERATOR: Ninja

    steps:
    - uses: msys2/setup-msys2@v2
      id: msys2
      with:
        update: true
        install: >-
          mingw-w64-ucrt-x86_64-gcc-fortran

    - name: Put MSYS2_MinGW64 on PATH
      run: echo "${{ steps.msys2.outputs.msys2-location }}/ucrt64/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - *checkout

    - *default
