name: fpm

on:
  push:
    paths:
      - "**.f90"
      - "fpm.toml"
      - ".github/workflows/fpm.yml"


jobs:

  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:

    - uses: fortran-lang/setup-fpm@v8
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - uses: actions/checkout@v6

    - run: fpm build
    - run: fpm test
